body {
    background-color: #eee;
}

table {
    background-color: bisque;
    width: 100%;
    border: 1px solid #000;
 }

.tr, th {
    background-color: rgb(177, 243, 116);
    border: solid 1px black;
}
.th, td {
    background-color: rgb(178, 215, 236);
    border: solid 1px black;
}

